#logoText {
    font-weight: 900;
    font-size: 35px;
}

.blue-theme-color {
    color: rgb(0, 162, 255);
}

.navBarItem {
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-size: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(0, 162, 255);
}

.removeLinkUnderline {
    text-decoration: none;
}

html.index,
body.index {
    height: 100%;
    margin: auto auto 0;
    overflow: hidden;
}

.bg {
    background-image: url("/static/landingPic.jpg");
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto auto 0;
}

.full {
    height: 100%;
    margin: 0;
}

.abstract-bg {
    background-image: url('/static/background.png');
    height: 100%;
}

#background {
    width: 100%;
    height: 100%;
}

.football-widget {
    font-size: 16px !important;
}

#toggle-team-like-button {
    background: transparent;
    border: none !important;
}

div.widget.p {
    font-size: 16px;
}

p.description,
a.description {
    font-size: 16px;
    color: black;
}

.aboutText {
    font-size: 20px;
    line-height: 150%;
}

.min-100 {
    min-height: 100%;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.indexPic {
    width: auto;
    height: auto;
    min-width: 208px;
    min-height: 108px;
    max-width: 75%;
    max-height: 75%;
}

.row-striped:nth-of-type(odd) {
    background-color: #efefef;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
}

.player-table-text {
    font-size: 13px;
}

.player-number-text {
    color:rgb(150, 150, 150);
}

.loader {
    height: 2px;
    -webkit-animation: slide 2s ease-in-out infinite;
    animation: slide 2s ease-in-out infinite;
    background-color: red;
    animation-direction: alternate;
}

@keyframes slide {
    from {
        margin-left: 0%;
        width: 0%;
    }

    50% {
        width: 30%;
    }

    to {
        margin-left: 100%;
        width: 0%;
    }
}