<!DOCTYPE html>
<html lang="en" class="index">
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        <meta charset="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="{% static 'teamGS.css' %}"/>
    </head>
    <body class="index">
        {% include "navigation.html" %}
        <div class="bg"></div>
            <h1 class="centered">
                <strong>
                Delivering 
                <br>
                everything about 
                <br>
                the sports teams
                <br>
                you love.
                </strong>
                <br>
                <p class="subtitle">
                    <strong>
                        Free. Simple. Informative.
                    </strong>
                </p>
            </h1>
    </body>
</html>