<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'teamGS.css' %}" />
        <meta name="description" content="Sports Website" />
        <meta name="keywords" content="sports, website, soccer, basketball" />
        <title>Sign Up</title>
    </head>
    <body class="text-center">
        {% include "navigation.html" %}
        <br />
        <br />
        <br />
        <h1>Sign Up</h1>
        {% comment %} <div class="d-flex aligns-items-center justify-content-center"> {% endcomment %}
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ join_form.as_p }}
                <input type="submit"
                       class="btn btn-primary"
                       value="Sign Up"
                       style="border-radius: 20px"/>
            </div>
        </form>
        {% comment %} </div> {% endcomment %}
        <br />
        <div>
            Already registered?
            <a href="{% url 'login' %}" class="removeLinkUnderline">Log in</a>
        </div>
    </body>
</html>
