<!DOCTYPE html>
<html lang = "en">
    <head>
        {% include "bootstrap.html" %}
        <title>Login</title>
    </head>
    <body class="text-center">
        {% include "navigation.html" %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Login</h1>
        <div class="d-flex aligns-items-center justify-content-center">
                <form action="/login/"method = "POST">{% csrf_token %}
                        {{ login_form.as_p }}
                            <input type="submit" class="btn btn-primary" value = "Login" style="width:100%; border-radius: 20px;"/>
                </form>
        </div>
        <br>
        <div>
            Not a member? <a href="/join" class="removeLinkUnderline">Signup now</a>
        </div>

    </body>
</html>