<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        {% load extras %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="module" src="https://widgets.api-sports.io/football/1.1.8/widget.js"></script>
        <link rel="stylesheet" href="{% static 'teamGS.css' %}" />
        <script src="https://kit.fontawesome.com/755c2f7a3d.js" crossorigin="anonymous"></script>
        <meta name="description" content="Sports Website" />
        <meta name="keywords" content="sports, website, soccer, basketball" />
        <title>Soccer</title>
    </head>
    <body>
        {% include "navigation.html" %}
        {% comment %} Outer Container {% endcomment %}
        <div class="container">
            {% include "./index_header.html" %}
            {% block content %}
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12 col-md-6">{% include "./live_games.html" %}</div>
                        <div class="col-12 col-md-6">{% include "news.html" %}</div>
                    </div>
                </div>
            {% endblock content %}
        </div>
    </body>
</html>
