<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'teamGS.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Soccer</title>
    </head>
    <body>
        {% include "navigation.html" %}
        <div class="container mt-3">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>No Search Results</h1>
            </div>
        </div>
    </body>
</html>