<!DOCTYPE html>
<html lang="en" class="full">
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        {% load extras %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Sports Website" />
        <meta name="keywords" content="sports, website, soccer, basketball" />
        <link rel="stylesheet" href="{% static 'teamGS.css' %}"/>
        <title>Upcoming Matches</title>
    </head>
    <body class="full">
        <div id="wg-api-football-fixtures"
             data-host="api-football-v1.p.rapidapi.com"
             data-refresh="0"
             data-date=""
             data-league=""
             data-team="{{ team_id }}"
             data-season=""
             data-last=""
             data-next="3"
             data-key="{% get_env_var 'SOCCER_API_KEY' %}"
             data-theme=""
             data-show-errors="true"
             class="api_football_loader">
        </div>
        <script type="module" src="https://widgets.api-sports.io/football/1.1.8/widget.js"></script>
    </body>
</html>
