{% load static %}
{% load extras %}
<script src="https://kit.fontawesome.com/755c2f7a3d.js" crossorigin="anonymous"></script>
<script>
	$(function(){
	    {% if user.is_authenticated %} getLikedTeams();{% endif %}

	    // Create list item for each liked team with teamID
	    function getLikedTeamsSuccess(data) {
	        if(data.success) {
	            var liked_soccer_teams = data.liked_soccer_teams;
	            for(var i = 0; i < liked_soccer_teams.length; i++) {
	                var team_name = liked_soccer_teams[i].name;
	                var team_id = liked_soccer_teams[i].teamID;
	                var team_name_cleaned = team_name.replace(" ", "-");
	                var url = "{% url 'soccer-team-page' 'name' %}".replace('name', team_name_cleaned);
	                $("#liked-soccer-teams").append(
	                    $('<li/>', {'id': 'soccer-'+team_id}).append(
	                        $('<a/>', {
	                            'class': 'dropdown-item',
	                            'href': url,
	                            text: team_name,
	                        })
	                    )
	                )
	            }
	            var liked_nba_teams = data.liked_nba_teams;
	            for(var i = 0; i < liked_nba_teams.length; i++) {
	                var team_name = liked_nba_teams[i].name;
	                var team_name_cleaned = team_name.replace(" ", "-");
	                var team_id = liked_nba_teams[i].teamID;
	                var url = "{% url 'nba-team-page' 'name' %}".replace('name', team_name_cleaned);
	                $("#liked-nba-teams").append(
	                    $('<li/>', {'id': 'nba-'+ team_id}).append(
	                        $('<a/>', {
	                            'class': 'dropdown-item',
	                            'href': url,
	                            text: team_name,
	                        })
	                    )
	                )
	            }
	        }
	        else {
	            console.log("Error retreiving liked teams")
	        }

	    }
	    function getLikedTeams() {
	        $.ajax({
	            url: '/get-liked-teams/',
	            data: {
	                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
	                'username': '{{ user.username }}'
	            },
	            dataType: 'json',
	            success: getLikedTeamsSuccess
	        })
	    }
	});
</script>
{% csrf_token %}
<div class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <div id="logoText">
                    Team<span class="blue-theme-color">GS</span>
                    <img src="{% static 'logo_img.png' %}"
                         width="45"
                         height="40"
                         class="d-inline-block align-middle"
                         alt=""/>
                </div>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'soccer-index' %}">
                            Soccer
                            <i class="fa-solid fa-futbol"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nba-index' %}">
                            NBA
                            <i class="fa-solid fa-basketball"></i>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarLightDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                My Teams
                                <i class="fa-solid fa-people-group"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light"
                                aria-labelledby="navbarLightDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="{% url 'soccer-index' %}">
                                        <strong>Soccer</strong>
                                    </a>
                                </li>
                                <div id="liked-soccer-teams"></div>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'nba-index' %}">
                                        <strong>NBA</strong>
                                    </a>
                                </li>
                                <div id="liked-nba-teams"></div>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">
                            About
                            <i class="fa-solid fa-circle-question"></i>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                Log Out
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                Log In
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
