<div class="container mt-3 ps-0">
    <h2>Popular Articles</h2>
    {% for article in articles %}
        <ul class="ps-0 pb-3">
            <a class="description removeLinkUnderline"
               href="{{ article.url }}"
               target="_blank"
               rel="noopener noreferrer">
                <h5>{{ article.title }}</h5>
                <img src="{{ article.thumbnail }}"
                     alt="Article Thumbnail"
                     width="50%"
                     height="50%"/>
                <p class="description">{{ article.description }}</p>
            </a>
        </ul>
    {% endfor %}
</div>
