{% load extras %}
<div class="container mb-5 ps-0">
    <h2>Conference Standings</h2>
    <div class="row">
        <div class="col-2 col-md-1 col-lg-2">Rank</div>
        <div class="col-4 col-md-5 me-2 me-sm-0 ps-md-3 ps-1 ps-lg-0">Team</div>
        <div class="col-1 offset-2 offset-sm-3 offset-lg-2">W</div>
        <div class="col-1">L</div>
        <div class="col-1">Pct</div>
    </div>
    {% for team in standings %}
        <div class="row pb-0 align-items-center">
            <div class="col-2 col-md-1 col-lg-2 pe-0 text-md-center text-lg-start ps-4 ps-md-1 ps-lg-4">{{ team.rank }}</div>
            <div class="col-1 col-md-1 ps-0 pe-0 me-2 me-sm-0 ps-md-3 ps-lg-0">
                <img src="{{ team.logo }}" alt="Team Logo" width="50px" height="50px"/>
            </div>
            <div class="col-5 ps-3">
                <a href="{% url 'nba-team-page' team.name|removeSpaces %}">{{ team.name }}</a>
            </div>
            <div class="col-1 offset-sm-1 offset-md-2 offset-lg-1">{{ team.wins }}</div>
            <div class="col-1">{{ team.losses }}</div>
            <div class="col-1">{{ team.win_pct }}</div>
        </div>
        <hr class="dropdown-divider"/>
    {% endfor %}
</div>
