<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        {% load extras %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'teamGS.css' %}" />
        <script src="https://kit.fontawesome.com/755c2f7a3d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
        {% comment %} <script>
			$(".basicAutoComplete").autoComplete({ minLength: 1 });
			$(".dropdown-menu").css({ top: "auto", left: "auto" });
        </script> {% endcomment %}
        <meta name="description" content="Sports Website" />
        <meta name="keywords" content="sports, website, soccer, basketball" />
        <title>{{ team.name }}</title>
        {% include "toggleNBALike.html" %}
    </head>
    <body>
        {% include "navigation.html" %}
        <!--Outermost container-->
        <div class="container">
            {% include "./team_header.html" %}
            {% block content %}
                <div class="container mt-3">
                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-12 col-lg-6">
                            {% include "./previous_games.html" %}
                            {% include "./upcoming_games.html" %}
                            {% include "./standings.html" %}
                        </div>
                        <!-- Second Column -->
                        <div class="col-12 col-lg-6">{% include "news.html" %}</div>
                    </div>
                </div>
            {% endblock content %}
        </div>
        {% comment %} {% block footer %}
            <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
            {{ search_form.media }}
            <script>
			(function ($) {
				$("#add-form").click(function () {
					var index = $("#id_inline_test_models-TOTAL_FORMS").val();
					var newTable = $("#id_inline_test_models-__prefix__-DELETE")
						.parents("table")
						.clone();
					newTable.find(":input").each(function () {
						for (attr of ["name", "id"])
							$(this).attr(
								attr,
								$(this).attr(attr).replace("__prefix__", index)
							);
					});
					newTable.insertBefore($(this));
					$("#id_inline_test_models-TOTAL_FORMS").val(
						parseInt(
							$("#id_inline_test_models-TOTAL_FORMS").val()
						) + 1
					);
					newTable.slideDown();
				});
			})($);
            </script>
        {% endblock footer %} {% endcomment %}
    </body>
</html>
