{% load extras %}
<div class="container mb-5 ps-0 pe-0">
    <h2>Scheduled Games</h2>
    {% if games.upcoming_games == None %}<p>No Immediate Scheduled Games</p>{% endif %}
    {% for game in games.upcoming_games %}
        <div class="row pt-3">
            <div class="col text-center">{{ game.date|date:"D, M d, h:i A" }}</div>
        </div>
        <div class="row align-items-center pb-3">
            <div class="col-4 ps-0">
                <div class="row align-items-center justify-content-end">
                    <div class="col-12 col-md-7 col-lg-12 order-2 order-md-1 order-lg-2 pe-0 text-center">
                        <a href="{% url 'nba-team-page' game.away_team.name|removeSpaces %}"
                           class="removeLinkUnderline">{{ game.away_team.name }}</a>
                    </div>
                    <div class="col-12 col-md-auto col-lg-12 order-1 order-md-2 order-lg-1 pe-0 text-center">
                        <img src="{{ game.away_team.logo }}"
                             alt="Away Team Logo"
                             width="50px"
                             height="50px"/>
                    </div>
                </div>
            </div>
            <div class="col-4 ps-0 pe-0 text-center">
                <div class="row">
                    <div class="col ps-0 pe-0">at</div>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-items-center">
                    <div class="col-12 col-md-auto col-lg-12 order-4 pe-0 ps-0 text-center">
                        <img src="{{ game.home_team.logo }}"
                             alt="Home Team Logo"
                             width="50px"
                             height="50px"/>
                    </div>
                    <div class="col-12 col-md-7 col-lg-12 order-5 me-0 ps-0 pe-0 text-center">
                        <a href="{% url 'nba-team-page' game.home_team.name|removeSpaces %}"
                           class="removeLinkUnderline">{{ game.home_team.name }}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="dropdown-divider" />
    {% endfor %}
</div>
